body {
    font-family: Bodoni;
    margin: 40px;
    background: #ffffff;
    color: #000000;
}


.profile-header {
    display: flex;
    align-items: center;
    gap: 25px;
    border-bottom: 2px solid #000;
    padding-bottom: 20px;
    margin-bottom: 30px;
}

.profile-pic {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #000;
}

.profile h1 {
    margin: 0 0 8px 0;
    font-size: 2rem;
}

address {
    font-style: normal;
}

address p {
    margin: 3px 0;
}


.resume {
    margin-bottom: 25px;
}

.resume h2 {
    font-size: 1.3rem;
    text-transform: uppercase;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

article h3 {
    margin: 0;
    font-size: 1.1rem;
}

p, li {
    font-size: 1rem;
    line-height: 1.5;
}

ul {
    padding-left: 20px;
}


footer {
    border-top: 1px solid #000;
    margin-top: 30px;
    padding-top: 10px;
    text-align: center;
    font-size: 0.9rem;
}


@media (max-width: 600px) {
    body {
        margin: 15px;
    }

    .profile-header {
        flex-direction: column;
        align-items: flex-start;
    }
}